<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IForm" />
                <binding name="BasicHttpBinding_IPerson" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://crm.payamgostar.com/Services/API/IForm.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IForm"
                contract="PgForm.IForm" name="BasicHttpBinding_IForm" />
            <endpoint address="http://crm.payamgostar.com/services/api/IPerson.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPerson"
                contract="PgPerson.IPerson" name="BasicHttpBinding_IPerson" />
        </client>
    </system.serviceModel>
</configuration>